.wrapper .sidebar-wrapper {
  left: 0px;
}

@media only screen {
.wrapper .page-content {
    padding-left: 300px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*This changes the background and style of the sidebar*/
.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
  background: #e0ebfc; /*sidebar background colour*/
  padding: 10px;
  float: center;
  padding-bottom: 10px;

}

.sidebar-header {
  padding: 20px;
  float: center;
  align-items: center;
 }
 
.sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.user-info {
  font-weight: bold;
  text-align:center;
  padding: 15px 5px;
}

.sidebar-menu {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  display: inline-block;
}

.page-wrapper {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
  padding: 20px 40px;
}





